@model IEnumerable<PriceTierReadOnlyVM>

@{
    ViewData["Title"] = "Price Tier";
    int index = 1;
}

<h1>Price Tier Table</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.PriceRiel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@index</td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                        @Html.DisplayFor(modelItem => item.PriceRiel)
                    </a>
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <button class="btn btn-sm btn-danger btnDelete" data-id="@item.Id">Delete</button>
            </td>
        </tr>

        index++;
        }
        
        
    </tbody>
    
</table>

<form asp-action="Delete" id="priceForm">
    <input type="hidden" name="id" id="priceId"/>
</form>

@section Scripts{
    <script>
        $(function(){
            $('.btnDelete').click(
                function(e){
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure you want to delete this price?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }).then((confirm) => {
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#priceId').val(id);
                            $('#priceForm').submit();
                        }
                    });
                }
            );
        });
    </script>
}
